Repository opennextjs/opennextjs-netlify, pull requests merged in 2024-07, with the labels that each got.

#2510 feat: use Netlify Durable Cache
  src/run/handlers/server.ts
  src/run/headers.test.ts
  src/run/headers.ts
  tests/e2e/durable-cache.test.ts
  tests/integration/run/server-handler.test.ts
  tests/utils/create-e2e-fixture.ts
  tests/utils/fixture.ts
Labels: run-e2e-tests

#2554 test: pack and install runtime when running Next.js e2e tests
  tests/netlify-deploy.ts
Labels: run-e2e-tests

#2553 test: adjust setup for next@canary
  tests/utils/fixture.ts
Labels: test all versions

#2555 fix: edge-middleware i18n matching
  edge-runtime/lib/next-request.ts
  edge-runtime/lib/util.ts
  edge-runtime/middleware.ts
  src/build/functions/edge.ts
  tests/fixtures/middleware-conditions/middleware.ts
  tests/integration/edge-handler.test.ts
Labels: run-e2e-tests

#2539 feat: fail build when netlify forms detected without workaround
  src/build/verification.ts
  tests/integration/netlify-forms.test.ts
Labels: automerge

#2561 test: add missing matcher to netlify forms test
  tests/integration/netlify-forms.test.ts
Labels: automerge
